header{
    font-family: Arial, sans-serif;
}



.bg-primary{
    background-color: #302d76 !important;
}




.progress{
    background-color: rgba(116, 102, 181, 0.2) !important;
}


.text-primary{
    color: #282060 !important;
}

.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translate(-15px);
    box-shadow: 0 10px 20px rgba(34, 19, 84, 0.545);
}